/GNomeRunner/Saved
/GNomeRunner/Binaries/Win64/GNomeRunner.exe
/GNomeRunner/Binaries/Win64/GNomeRunner.pdb
/GNomeRunner/Content/Menu/FemmeFatale.wav
/GNomeRunner/Content/Menu/FemmeFatale.uasset
/GNomeRunner/Intermediate
